$prefixCls: '.yl-ui-input';

#{$prefixCls}{
    position: relative;
    overflow: hidden;
    font-size: 14px;
    width: 100%;
}

#{$prefixCls}-inner{
    cursor: text;
    appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfef;
    box-sizing: border-box;
    @include fcw(inherit,#606266);
    display: inline-block;
    @include size(100%,40px,1);
    outline: none;
    padding: 0 15px;
    transition: 0.2s ease-in-out;

    &:hover{
        border-color: #c0c4cc;
    }
    &:focus{
        border-color: #57a3f3;
    }
}