$prefixCls: '.yl-ui-radio';
$prefixGroup: #{$prefixCls}-group;

$defaultColor: #515a6e;
$defaultFontSize: 14px;
$smallFontSize: 12px;
$miniFontSize: 12px;
$defaultSize: 14px;
$smallSize: 12px;
$miniSize: 11px;

$checkedBackColor: #fff;
$checkedBorderColor: #2d8cf0;
$uncheckedBackColor: #f3f3f3;
$uncheckedBorderColor: #dcdee2;

$radioDefaultSize: 8px;
$radioSmallSize: 6px;
$radioMiniSize: 5px;
$radioBackColor: #2d8cf0;

$disabledBackColor: #ccc;
$disabledBorderColor: #dcdee2;

$btnDefaultHeight: 36px;
$btnDefaultPadding: 0 15px;
$btnSmallHeight: 32px;
$btnSmallPadding: 0 15px;
$btnMiniHeight: 24px;
$btnMiniPadding: 0 12px;
$btnUncheckedBorderColor: #f3f3f3;
$btnUncheckedBackColor: #fff;
$btnCheckedBackColor: #fff;
$btnCheckedBorderColor: #2d8cf0;
$btnDisabledBackColor: #f7f7ff;
$btnDisabledBorderColor: #dcdee2;
$btnDisabledColor: #ccc;
$btnCheckedDisabledBackColor: #e6e6e6;
$btnCheckedDisabledBorderColor: #dcdee2;
$btnCheckedDisabledFontColor: #fff;

$shadowColor: rgba(45,140,240,0.2);

#{$prefixCls}{
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    @include size($defaultSize,$defaultSize);
    border-radius: 50%;
    background-color: $uncheckedBackColor;
    border: 1px solid $uncheckedBorderColor;
    position: relative;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;

    input{
        @include pos(absolute,0,0,0,0);
        opacity: 0;
        z-index: 1;
        cursor: pointer;
    }

    &-label{
        display: inline-block;
        vertical-align: middle;
        font-size: $defaultFontSize;
        white-space: nowrap;
    }
}

#{$prefixCls}-wrap{
    display: inline-block;
    vertical-align: middle;
    @include fcw($defaultFontSize,$defaultColor);
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    line-height: 1;
    margin-right: 10px;

    &-checked{
        #{$prefixCls}{
            background-color: $checkedBackColor;
            border-color: $checkedBorderColor;

            &:before{
                content: '';
                @include pos(absolute,0,0,0,0);
                @include size($radioDefaultSize,$radioDefaultSize);
                background-color: $radioBackColor;
                transition: all 0.2s ease-in-out;
                margin: auto;
                border-radius: 50%;
            }
        }
    }
    
    &-focus{
        #{$prefixCls}{
            box-shadow: 0 0 0 2px $shadowColor;
        }
    }

    &-disabled{
        cursor: not-allowed;
        #{$prefixCls}{
            cursor: not-allowed;
            border-color: $disabledBorderColor;
    
            &:before{
                background-color: $disabledBackColor;
            }
            input{
                cursor: not-allowed;
            }
        }
    }
}

#{$prefixGroup}{
    display: inline-block;
    font-size: $defaultFontSize;
    vertical-align: middle;
}

#{$prefixGroup}-vertical{
    #{$prefixCls}-wrap{
        display: block;
        height: 30px;
        line-height: 30px;
    }
}

#{$prefixGroup}-button{
    #{$prefixCls}-wrap{
        display: inline-block;
        height: $btnDefaultHeight;
        line-height: $btnDefaultHeight - 2;
        padding: $btnDefaultPadding;
        transition: all 0.2s ease-in-out;
        border: 1px solid $btnUncheckedBorderColor;
        background-color: $btnUncheckedBackColor;
        position: relative;
        margin: 0;
        border-left: 0;

        &:first-child{
            border-radius: 4px 0 0 4px;
            border-left: 1px solid $btnUncheckedBorderColor;
        }

        &:last-child{
            border-radius: 0 4px 4px 0;
        }

        #{$prefixCls}{
            width: 0;
            height: 0;
            margin-right: 0;
            opacity: 0;

            input{
                opacity: 0;
                width: 0;
                height: 0;
            }
        }

        &-checked{
            background: $btnCheckedBackColor;
            border-color: $btnCheckedBorderColor;
            color: $btnCheckedBorderColor;
            box-shadow: -1px 0 0 0 $btnCheckedBorderColor;

            &:first-child{
                box-shadow: none;
                border-color: $btnCheckedBorderColor;
            }

            &#{$prefixCls}-wrap-disabled{
                box-shadow: none;
                background-color: $btnCheckedDisabledBackColor;
                border-color: $btnCheckedDisabledBorderColor;
                color: $btnCheckedDisabledFontColor;
            }
        }

        &-disabled{
            background-color: $btnDisabledBackColor;
            border-color: $btnDisabledBorderColor;
            color: $btnDisabledColor;
        }
    }
}

#{$prefixGroup}-small{
    #{$prefixCls}-wrap{
        #{$prefixCls}{
            @include size($smallSize,$smallSize);

            &-label{
                font-size: $smallFontSize;
            }
        }
        &-checked{
            #{$prefixCls}:before{
                @include size($radioSmallSize,$radioSmallSize);
            }
        }
    }
    &#{$prefixGroup}-button{
        #{$prefixCls}-wrap{
            #{$prefixCls}{
                @include size(0,0);
            }
            height: $btnSmallHeight;
            line-height: $btnSmallHeight - 2;
            padding: $btnSmallPadding;
        }
    }
}

#{$prefixGroup}-mini{
    #{$prefixCls}-wrap{
        #{$prefixCls}{
            @include size($miniSize,$miniSize);

            &-label{
                font-size: $miniFontSize;
            }
        }
        &-checked{
            #{$prefixCls}:before{
                @include size($radioMiniSize,$radioMiniSize);
            }
        }
    }
    &#{$prefixGroup}-button{
        #{$prefixCls}-wrap{
            #{$prefixCls}{
                @include size(0,0);
            }
            height: $btnMiniHeight;
            line-height: $btnMiniHeight - 2;
            padding: $btnMiniPadding;
        }
    }
}