$prefixCls: '.yl-ui-slider';

$sliderBackColor: #e8eaec;
$sliderSelectColor: #57a3f3;
$thumbActiveColor: #2d8cf0;
$dotColor: #ccc;
$barHeight: 4px;
$thumbSize: 8px;
$dotSize: 4px;

#{$prefixCls}{
    display: inline-block;
    width: 100%;
    height: $barHeight;
    background-color: $sliderBackColor;
    border-radius: 2px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;

    &-stop{
        @include pos();
        @include size($dotSize,$barHeight);
        background-color: $dotColor;
        cursor: pointer;
    }

    &-wrap{
        position: absolute;
        @include size($thumbSize,$thumbSize);
        cursor: pointer;
        user-select: none;

        &:hover{
            cursor: grab;
        }

        #{$prefixCls}-thumb{
            @include size($thumbSize,$thumbSize);
            border-radius: 50%;
            border: 2px solid $sliderSelectColor;
        }
    }
}