$prefixCls: '.yl-ui-slider';

$sliderBackColor: #e8eaec;
$sliderHeight: 4px;

$dotColor: #ccc;
$dotWidth: 4px;

$barBackColor: #57a3f3;

$thumbSize: 10px;
$thumbBackColor: #fff;
$thumbBorderColor: #57a3f3;
$thumbBorderWidth: 2px;
$thumbBorderActiveColor: #2d8cf0;
$thumbActiveScale: 1.5;

#{$prefixCls}{
    display: inline-block;
    width: 100%;
    height: $sliderHeight;
    background-color: $sliderBackColor;
    border-radius: 2px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;

    &-stop{
        @include pos();
        @include size($dotWidth,$sliderHeight);
        background-color: $dotColor;
        cursor: pointer;
    }

    &-bar{
        background-color: $barBackColor;
        height: $sliderHeight;
        position: absolute;
        top: 0;
    }

    &-wrap{
        position: absolute;
        top: - ($thumbSize - $sliderHeight + $thumbBorderWidth * 2) / 2;
        margin-left: - ($thumbSize / 2);
        cursor: pointer;
        @include size($thumbSize + $thumbBorderWidth * 2,$thumbSize + $thumbBorderWidth * 2);
        user-select: none;

        &:hover{
            cursor: grab;
        }

        #{$prefixCls}-thumb{
            @include size($thumbSize,$thumbSize);
            border-radius: 50%;
            background-color: $thumbBackColor;
            border: $thumbBorderWidth solid $thumbBorderColor;
            transition: transform 0.2s ease-in-out;

            &-active,&:hover{
                transform: scale($thumbActiveScale,$thumbActiveScale);
                border-color: $thumbBorderActiveColor;
            }
        }
    }
}