$prefixCls: '.yl-ui-switch';

$defaultSize: 22px;
$smallSize: 20px;
$miniSize: 18px;
$inActiveColor: #ccc;
$activeColor: #1AAD19;

@function double($px){
    @return $px * 2;
}

#{$prefixCls}{
    display: inline-block;
    height: $defaultSize + 4;
    line-height: $defaultSize + 4;
    border-radius: $defaultSize;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    border: 1px solid $inActiveColor;
    background-color: $inActiveColor;
    user-select: none;
    @include fcw(12px,#fff);
    min-width: double($defaultSize + 1);

    &-text{
        position: relative;
        padding: 0 $defaultSize + 5 0 5px;
        transition: all 0.2s ease-in-out;
    }
}

#{$prefixCls}-checked{
    #{$prefixCls}-text{
        padding: 0 5px 0 $defaultSize + 5;

    }
}
