$prefixCls: '.yl-ui-uploader';

$defaultWidth: 150px;
$defaultHeight: 150px;
$defaultGap: 15px;
$backColor: #ededed;
$addBorderColor: #a3a3a3;


#{$prefixCls}{
    position: relative;
    overflow: hidden;
    
    &-preview{
        position: relative;
        overflow: hidden;

        &-item{
            overflow: hidden;
            display: inline-block;
            @include size($defaultWidth,$defaultHeight,$defaultHeight);
            margin: $defaultGap $defaultGap 0 0;
            cursor: pointer;
            background-color: $backColor;

            img{
                width: 100%;
                vertical-align: middle;
            }

        }

        &-add{
            position: relative;
            display: inline-block;
            @include size($defaultWidth,$defaultHeight);
            margin: $defaultGap $defaultGap 0 0;
            cursor: pointer;
            z-index: 1;
            background-color: $backColor;

            input{
                @include size(100%,100%);
                display: block;
                @include pos();
                opacity: 0;
                z-index: 2;
                cursor: pointer;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
            }

            &:before{
                content: '';
                @include pos(absolute,50%,35%);
                @include size(30%,0);
                border-top: 1px solid $addBorderColor;
                margin-top: -0.5px;
            }
            &:after{
                content: '';
                @include pos(absolute,35%,50%);
                @include size(0,30%);
                border-left: 1px solid $addBorderColor;
                margin-left: -0.5px;
            }
        }

    }

    &-cropper{
        @include size(100%,100%);
        @include pos(fixed,0,0);
        z-index: 99999;
        background: #fff;

        canvas{
            @include pos();
            z-index: 1;
        }

        #{$prefixCls}-btns{
            @include pos(absolute,null,0,0);
            width: 100%;
            height: 40px;
            padding: 10px 0;
            z-index: 10;
            background-color: #fff;
            @include fcw(20px,#333);
            display: table;

            &>div{
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                cursor: pointer;
                border-right: 1px solid #ccc;

                &:last-child{
                    border-right: 0
                }
            }
        }
    }
}

@media screen and (max-width: 750px){
    #{$prefixCls}-preview{
        &-item,&-add{
            @include size(46%,150px,150px);
            margin: $defaultGap 4% 0 0;
        }
    }
}

#{$prefixCls}-preview-disabled{
    #{$prefixCls}-preview-item,#{$prefixCls}-preview-add{
        cursor: not-allowed;
    }
}
